body {
    font-family: sans-serif;
    max-width: 1024px;
    word-wrap: break-word;
}

a {
    font-family: courier, monospace;
    text-decoration: none;
    color: #0e0e0e;
}

h1 {
    font-family: serif;
    color: #ff6600;
}

h2 {
    font-family: serif;
    color: #ff751a;
}

h3 {
    font-family: serif;
    color: #ff8533;
}

a {
    padding: 0 0 0 0;
}

a:hover {
    text-decoration: underline;
}

a.textlink:before {
    content: "⇒ ";
    color: #ff8533;
}

.quote {
    font-style: italic;
}

.quote:before {
    content: "« ";
    padding-left: 2px;
    color: #ff8533;
}

.quote:after {
    content: " »";
    padding-right: 2px;
    color: #ff8533;
}

ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

li:before {
    content: "★";
    padding-right: 5px;
    color: #ff8533;
}

img {
    max-width: 90%;
}

pre {
    font-family: courier, monospace;
    background: #1e1e1e;
    padding: 20px;
    color: #ffffff;
}

span.inlinecode {
    font-family: courier, monospace;
}
