[submodule "content/gemtext"]
	path = content/gemtext
	url = git@github.com:snonux/buetow.org
[submodule "content/html"]
	path = content/html
	url = git@github.com:snonux/buetow.org
[submodule "content/md"]
	path = content/md
	url = git@github.com:snonux/buetow.org
[submodule "content/meta"]
	path = content/meta
	url = git@github.com:snonux/buetow.org
