body {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 900px;
  font-family: "courier new";
  background-color: #37585E; 
  color: #bbbfbf;
}

h1,h2,h3 {
  color: #55bc90;
}

a {
  color: cyan;
  text-decoration: none;
}

a:hover {
  color: #55bc90;
  text-decoration: underline;
}

li {
  color: cyan;
}

img {
  max-width: 600px;
  max-height: 400px;
  display: block;
  margin: auto;
}

pre {
  display: block;
  background-color: #111;
  color: #66cdaa;
  padding: 5px;
  overflow-x: auto;
}

a.textlink:before {
  content: " ⇒ ";
  padding-left: 2px;
}

p.quote {
  color: #174f14;
}

p.quote:before {
  content: " « ";
  padding-left: 2px;
}

p.quote:after {
  content: " » ";
  padding-right: 2px;
}
