body {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 900px;
  background-color: #37585E; 
  color: #bbbfaf;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-style: normal;
  font-variant: normal;
}

h1 {
  color: #ffffef;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.4px;
}

h2 {
  color: #ffffef;
  font-size: 20px;
  font-weight: 700;
  line-height: 19.0px;
}

h3 {
  color: #ffffef;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px;
}

a {
  color: #99ccff;
  text-decoration: none;
}

a:hover {
  color: #55bc90;
  text-decoration: underline;
}

li {
  color: #99ccff;
}

img {
  max-width: 600px;
  max-height: 400px;
  display: block;
  margin: auto;
}

pre {
  display: block;
  background-color: #111;
  color: #bbbfaf;
  padding: 5px;
  overflow-x: auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.5667px;
}

a.textlink:before {
  content: " ⇒ ";
  padding-left: 2px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

p.quote {
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}

p.quote:before {
  content: " « ";
  padding-left: 2px;
}

p.quote:after {
  content: " » ";
  padding-right: 2px;
}
