@font-face {
    font-family: 'text';
    src: url("./text.ttf") format("truetype");
}

@font-face {
    font-family: 'heading';
    src: url("./heading.ttf") format("truetype");
}

@font-face {
    font-family: 'code';
    src: url("./code.ttf") format("truetype");
}

@font-face {
    font-family: 'handnotes';
    src: url("./handnotes.ttf") format("truetype");
}

@font-face {
    font-family: 'typewriter';
    src: url("./typewriter.ttf") format("truetype");
}  

/* https://css-pattern.com/ */
html {
  --s: 162px; /* control the size*/
  --c1: #cd2942;
  --c2: #62928c;
  --c3: #e8cba9;
  --c4: #33152e;
  --c5: #414352;
  
  --_g: conic-gradient(from 30deg at 50% 25%,#0000 300deg,var(--c1) 0);
  background:
    var(--_g) calc(0.2885*var(--s)) calc(7*var(--s)/12),
    var(--_g) 0 calc(var(--s)/12),
    conic-gradient(from 120deg at 50% calc(250%/3),var(--c2) 120deg,#0000 0),
    repeating-conic-gradient(from 30deg,#0000 0 60deg,var(--c3) 0 120deg),
    repeating-conic-gradient(var(--c4) 0 60deg,var(--c2) 0 120deg,var(--c5) 0 180deg);
  background-size: calc(0.577*var(--s)) var(--s);
}

body {
    font-family: text, sans-serif;
    background: linear-gradient(135deg, #0d0d0d, #1f1f1f);
    color: #e0e0e0;
    max-width: 1024px;
    padding: 20px;
    margin: 20px auto;
    border: 5px double #ff6347;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    word-wrap: break-word;
}

h1, h2, h3 {
    font-family: heading, serif;
    color: #00ff9d;
    text-shadow: 0 0 2px #00ff9d, 0 0 2px #00ff9d;
}

a {
    text-decoration: none;
    color: #00ff9d;
    transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #00d4ff;
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff;
}

a.textlink:before {
    content: "⇒ ";
    padding-left: 11px;
}

.quote {
    font-style: italic;
    color: #00d4ff;
    text-shadow: 0 0 7px #00d4ff, 0 0 14px #00d4ff;
}

.quote:before {
    content: "« ";
    padding-left: 2px;
}

.quote:after {
    content: " »";
    padding-right: 2px;
}

ul {
    list-style: none;
    padding-right: 23px;
    padding-left: 10px;
    margin: 0.75em 0 0.75em 0;
}

li {
    color: #ff6347;
    margin-left: 1em;
    margin-bottom: 0.25em;
    text-shadow: 0 0 5px #ff6347, 0 0 10px #ff6347;
}

li:before {
    content: "★";
    padding-right: 5px;
    color: #00ff9d;
}

img {
    max-width: 90%;
    display: block;
    margin: auto;
    border: 2px solid #00d4ff;
    box-shadow: 0 4px 15px rgba(0, 212, 255, 0.4);
    border-radius: 10px;
}

pre {
    font-family: code, monospace;
    overflow-x: auto;
    background: #1e1e1e;
    padding: 20px;
    border-left: 4px solid #00ff9d;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #00ff9d;
    color: #00d4ff;
}

span.inlinecode {
    font-family: code, monospace;
    background: #1e1e1e;
    padding: 1px;
    border: 1px solid #00d4ff;
    border-radius: 3px;
    box-shadow: 0 0 6px #00d4ff;
    color: #00d4ff;
}

.header {
    font-family: handnotes;
}

.footer {
    font-family: handnotes;
}

