@font-face {
    font-family: 'text';
    src: url("./text.ttf") format("truetype");
}

@font-face {
    font-family: 'heading';
    src: url("./heading.ttf") format("truetype");
}

@font-face {
    font-family: 'code';
    src: url("./code.ttf") format("truetype");
}

@font-face {
    font-family: 'handnotes';
    src: url("./handnotes.ttf") format("truetype");
}

@font-face {
    font-family: 'typewriter';
    src: url("./typewriter.ttf") format("truetype");
}

body {
    font-family: text, sans-serif;
    background: linear-gradient(135deg, #f4f4f4, #e0e0e0);
    color: #333;
    max-width: 1024px;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    word-wrap: break-word;
}

h1, h2, h3 {
    font-family: heading, serif;
    color: #303c6c;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #1a73e8;
    transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #2a65ba;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

a.textlink:before {
    content: "⇒ ";
    padding-left: 11px;
}

.quote {
    font-style: italic;
    color: #2a65ba;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.quote:before {
    content: "« ";
    padding-left: 2px;
}

.quote:after {
    content: " »";
    padding-right: 2px;
}

ul {
    list-style: none;
    padding-right: 23px;
    padding-left: 10px;
    margin: 0.75em 0 0.75em 0;
}

li {
    color: #303c6c;
    margin-left: 1em;
    margin-bottom: 0.25em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

li:before {
    content: "★";
    padding-right: 5px;
    color: #1a73e8;
}

img {
    max-width: 90%;
    display: block;
    margin: auto;
    border: 2px solid #ccc;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

pre {
    font-family: code, monospace;
    overflow-x: auto;
    background: #f0f0f0;
    padding: 20px;
    border-left: 4px solid #1a73e8;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    color: #333;
}

span.inlinecode {
    font-family: code, monospace;
    background: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    color: #333;
}

.header {
    font-family: handnotes;
}

.footer {
    font-family: handnotes;
}
