@font-face {
    font-family: 'text';
    src: url("./text.ttf") format("truetype");
}

@font-face {
    font-family: 'heading';
    src: url("./heading.ttf") format("truetype");
}

@font-face {
    font-family: 'code';
    src: url("./code.ttf") format("truetype");
}

@font-face {
    font-family: 'handnotes';
    src: url("./handnotes.ttf") format("truetype");
}

html {
    background-image: radial-gradient(#cccccc 2px, transparent 2px);
    background-size: 32px 32px;
    background-color: #ffffff;
}

body {
    font-family: text, sans-serif;
    background: #ffffff;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
    border: 5px solid #eeeeee;
    border-radius: 15px;
    word-wrap: break-word;
}

h1, h2, h3 {
    font-family: heading, serif;
}

a {
    font-family: code, monospace;
    text-decoration: none;
    color: #666666;
    padding: 0 0 0 0;
}

a:hover {
    text-decoration: underline;
}

a.textlink:before {
    content: "⇒ ";
}

.quote {
    font-style: italic;
}

.quote:before {
    content: "« ";
    padding-left: 2px;
}

.quote:after {
    content: " »";
    padding-right: 2px;
}

ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

li:before {
    content: "★";
    padding-right: 5px;
}

img {
    max-width: 90%;
}

pre {
    font-family: code, monospace;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

span.inlinecode {
    font-family: code, monospace;
    border: 1px solid #999999;
    border-radius: 2px;
}
