@font-face {
    font-family: 'text';
    src: url("./text.ttf") format("truetype");
}

@font-face {
    font-family: 'heading';
    src: url("./heading.ttf") format("truetype");
}

@font-face {
    font-family: 'code';
    src: url("./code.ttf") format("truetype");
}

@font-face {
    font-family: 'handnotes';
    src: url("./handnotes.ttf") format("truetype");
}

html {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="%23cccccc"><polygon points="50,15 61,39 87,39 66,57 76,84 50,68 24,84 34,57 13,39 39,39"/></svg>'),
    radial-gradient(#000000 1px, transparent 1px);
    background-size: 32px 32px;
    background-color: #000000;
}

body {
    font-family: text, sans-serif;
    background: #ffffff;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
    border: 5px solid #eeeeee;
    border-radius: 15px;
    word-wrap: break-word;
}

h1, h2, h3 {
    font-family: heading, serif;
}

a {
    font-family: code, monospace;
    text-decoration: none;
    color: #666666;
    padding: 0 0 0 0;
}

a:hover {
    text-decoration: underline;
}

a.textlink:before {
    content: "⇒ ";
}

.quote {
    font-style: italic;
}

.quote:before {
    content: "« ";
    padding-left: 2px;
}

.quote:after {
    content: " »";
    padding-right: 2px;
}

ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

li:before {
    content: "★";
    padding-right: 5px;
}

img {
    max-width: 90%;
}

pre {
    font-family: code, monospace;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

span.inlinecode {
    font-family: code, monospace;
    border: 1px solid #999999;
    border-radius: 2px;
}
